<div class = 'drawingArea'>
    <div class = 'drawingColors'>
        <div my-drawing class = 'color red' name = 'red' (click) = 'selectColor("red")'></div>
        <div my-drawing class = 'color orange' name = 'orange' (click) = 'selectColor("orange")'></div>
        <div my-drawing class = 'color yellow' name = 'yellow' (click) = 'selectColor("yellow")'></div>
        <div my-drawing class = 'color green' name = 'green' (click) = 'selectColor("green")'></div>
        <div my-drawing class = 'color blue' name = 'blue' (click) = 'selectColor("blue")'></div>
        <div my-drawing class = 'color purple' name = 'purple' (click) = 'selectColor("purple")'></div>
        <div my-drawing class = 'color black' name = 'black' (click) = 'selectColor("black")'></div>
        <div my-drawing class = 'color white' name = 'white' (click) = 'selectColor("white")'></div>
    </div>
    <div class = 'drawingShapes'>
        <div class = 'shape line'>Line</div>
        <div class = 'shape circle'>Circ</div>
        <div class = 'shape rectangle'>Rect</div>
        <div class = 'shape triangle'>Tri</div>
        <div class = 'shape freestyle'>Free</div>
    </div>
    <canvas id = 'groupCanvas' width = '1200' height = '600'>
    </canvas>
</div>