<div class = 'drawingArea'>
    <div class = 'drawingColors'>
        <div class = 'color red'></div>
        <div class = 'color orange'></div>
        <div class = 'color yellow'></div>
        <div class = 'color green'></div>
        <div class = 'color blue'></div>
        <div class = 'color purple'></div>
        <div class = 'color black'></div>
        <div class = 'color white'></div>
    </div>
    <div class = 'drawingShapes'>
        <div class = 'shape line'>Line</div>
        <div class = 'shape circle'>Circ</div>
        <div class = 'shape rectangle'>Rect</div>
        <div class = 'shape triangle'>Tri</div>
        <div class = 'shape freestyle'>Free</div>
    </div>
    <canvas id = 'groupCanvas' width = '1200' height = '600'>
    </canvas>
</div>