<div class = 'login'>
    <div class = 'signup'>

        <p>Sign Up</p>
        <input type = 'email' placeholder = 'email'>
        <input type = 'email' placeholder = 'confirm email'>
        <input type = 'password' placeholder = 'password'>
        <input type = 'password' placeholder = 'confirm password'>
        <input type = 'submit' name = 'signUpSubmit'>
    </div>


    <div class = 'login'>
        <p>Log In</p>
        <input type = 'email' placeholder = 'email'>
        <input type = 'password' placeholder = 'password'>
        <input type = 'submit' name = 'logInSubmit'>
    </div>
</div>