<div class = 'drawingArea'>
    <div class = 'drawingColors'>
        <div class = 'color red' name = 'red' (click) = 'selectColor("red")'></div>
        <div class = 'color orange' name = 'orange' (click) = 'selectColor("orange")'></div>
        <div class = 'color yellow' name = 'yellow' (click) = 'selectColor("yellow")'></div>
        <div class = 'color green' name = 'green' (click) = 'selectColor("green")'></div>
        <div class = 'color blue' name = 'blue' (click) = 'selectColor("blue")'></div>
        <div class = 'color purple' name = 'purple' (click) = 'selectColor("purple")'></div>
        <div class = 'color black' name = 'black' (click) = 'selectColor("black")'></div>
        <div class = 'color white' name = 'white' (click) = 'selectColor("white")'></div>
    </div>
    <div class = 'drawingShapes'>
        <div class = 'shape line' name = 'line' (click) = 'selectShape("line")'>Line</div>
        <div class = 'shape circle' name = 'circle'(click) = 'selectShape("circle")'>Circ</div>
        <div class = 'shape rectangle' name = 'rectangle' (click) = 'selectShape("rectangle")'>Rect</div>
        <div class = 'shape triangle' name = 'triangle' (click) = 'selectShape("triangle")'>Tri</div>
        <div class = 'shape freestyle' name = 'freestyle' (click) = 'selectShape("freestyle")'>Free</div>
        <div class = 'shape erase' name = 'erase' (click) = 'selectShape("erase")'>Erase</div>
    </div>
    <canvas id = 'myCanvas' width = '1200' height = '600' (click) = 'draw($event)'>
    </canvas>
</div>